<div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        {% for produto in produtos %}
        
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">

          <img src="{{produto.imagem}}" alt="..." class="img-thumbnail">
           
            <div class="card-body">
              <p class="card-text">{{produto.nome}}</p>
              <div class="d-flex justify-content-between align-items-center">
               
                  <a href="{{ path('Detalhes_Produto',{'id':produto.id})}}" class="btn btn-lg btn-block btn-primary">Saiba Mais...</a>
                
                
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="text-center">
            {{ knp_pagination_render(produtos) }}
        </div>
      </div>
    </div>
</div>